body{
    background-color: var(--background);
}

main{margin: 15px;}
.titre{
    font-family: 'Great Vibes';
    background-color: var(--jaunesurligner);
    margin-right: 200px;
    
}
.titre__article{
    margin-top: 30%;
    font-family: 'Great Vibes';
   display: flex;
   justify-content: center;
}
.surligner__titrearticle{background-color: var(--jaunesurligner);
}

.titre__footer{
    font-family: 'Great Vibes';
    display: flex;
    justify-content: center;
    font-size: larger;
}

.article{
    font-family: 'Roboto';
    margin-bottom: 3rem ;
    
}


.timeline{
    margin-left: 50px ;
    width: 280px;
    border-left: 3px solid black;
    padding: 40px 20px 0 30px;
}

.timelinelegende{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    margin-top: 0;
    text-align: center;
}

.timelinelink{
    text-decoration: none;
}

.timelineblock{
    
    padding: 20px 25px 15px;
    font-size: 15px;
    margin-bottom: 15px;
    line-height: 1.7;
    position: relative;
}

div:before{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--fond);
    border: 4px solid var(--article);
    position: absolute;
    top: 10px;
    left: -40px;
}

div:after{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent var(--article) transparent transparent;
    border-width: 8px;
    position: absolute;
    left: -16px;
    top: 10px;
}

.timelinedate{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}



.main__contact{
    background-color: var(--element);
    margin: 20px;
    border-radius: 3%;
    position: relative;
    font-family: 'Noto Sans';
    font-size: small;
    margin: 10px;
    display: flex ;
    align-items: center;
    justify-content: space-between;
}

*{
    box-sizing:border-box;
}

.carouselbackground{
    margin-top: 100px;
}
.carrousel img{
    max-width:100%;
    height:auto;
    display: block;
    margin: auto;
}

.carrousel_parent-ecrans{
    display:flex;
    width:100%;
    overflow-x:scroll;
    scroll-behavior:smooth;
    scroll-snap-type:x mandatory; 
}

.carrousel_ecran{
    width:100%;
    flex:none;
    scroll-snap-align: start;
}

.carrousel_ecran figure{
    margin:0;
}

.carrousel {
    position: relative;
}

.carrousel_btn {
    position: absolute;
    top: 35%; 
    transform: translateY(-50%); 
    width: 2rem;
    height: 2rem;
    background: rgba(0,0,0,0.5);
    border-radius: 50%;
    border: none;
    display: grid;
    place-content: center;
    color: #fff;
}

.carrousel_btn-avant {
    left: 0;
}

  .carrousel_btn-apres {
    right: 0;
}

.caroussel_liste-liens{
    display:flex;
    justify-content:center;
    list-style:none;
    padding:0;
    margin:0;
    gap:1rem;
}



li.actif {
    background-color:white;
}

.cartiste{
    text-align: center;
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding-top: 10px;
}

.carouseltitle{
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: black;
    text-align: center;
}

.cimg{
    width: 50%;
}

.cimg2{
    width: 60%;
}

.carousel__background{
    background-color: var(--article);
    padding-top: 20px;

}
