.footer {
    background-color: var(--footer);
    width: 100%;
    height: 200px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0px;
    font-family: 'Roboto';
    color: white;
    display: block;
    justify-content: space-between;
    }

    .footer__autrepage{
       
        
        
    }

    .footer__lien{display: flex ;
        flex-direction: column;
        align-items: inherit;
        justify-content: space-around;}

        .footer__icon {
            width: 25px;
            height: 25px;
           
            
            
        }

        .footer__credit{
            display: flex;
            flex-direction: row-reverse;
            justify-content: right;
            font-size: smaller;
        }

        footer a{
            color: white;
        }
        .footer__element{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }